
<div class="content-listado">
    <div class="acciones">
        <div class="content-buscador">
            <input type="text" class="input-control input-search" placeholder="Search..."
            #inputSearch  
            (keyup)="searchByName(inputSearch.value)"
            [(ngModel)]="nameFilter">
        </div>
        <div class="content-btn-add">
            <button class="btn-add"  (click)="redirectForm()" >
                Agregar
            </button>
        </div>
    </div>

    
    <ng-container *ngIf="products.length > 0">
        <div class="table-products">
            <table class="table-products">
                <thead>
                    <th >Logo</th>
                    <th width="20%">Nombre del producto </th> 
                    <th width="30%">Descripción <i class="fas fa-sharp fa-solid fa-info-circle"></i></th>
                    <th >Fecha de liberación <i class="fas fa-sharp fa-solid fa-info-circle"></i></th>
                    <th >Fecha de reestructuración <i class="fas fa-sharp fa-solid fa-info-circle"></i></th>
                    <th></th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let product of products;let indexProduct = index">
                        <tr>
                            <td class="center content-img"> 
                                <div class="img-dropdown">
                                    <img 
                                    [src]="product.altLogo" height="60px" width="80px" alt="pkm"
                                    (error)="onErrorImage(product)"
                                    >
                                    <div class="dropdown-content">
                                        <img 
                                            [src]="product.altLogo" height="200" width="300" alt="pkm"
                                            (error)="onErrorImage(product)"
                                            >
                                        <div class="desc">
                                            {{  product.name | titlecase }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{  product.name | titlecase }}</td>
                            <td>{{  product.description | titlecase }}</td>
                            <td>{{  product.date_release | date: 'dd/MM/yyyy' }}</td>
                            <td>{{  product.date_revision | date: 'dd/MM/yyyy' }}</td>
                            <td class="btn-acciones center">
                                <div class="btn-dropdown" >
                                    <button class="tooltip top dd-button" (click)="openOptionsMenu(indexProduct)" >
                                        <img src="assets/button-points.png" alt="opt">
                                    </button>
                                    <div class="options"  *ngIf="product.openMenu" >
                                        <div (click)="updateProduct(product)" >
                                            Editar
                                        </div>
                                        <div (click)="deleteProduct(product)">
                                            Eliminar
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>


            <div class="content-mobile">
                <ng-container *ngFor="let product of products;let indexProduct = index">
                    <div class="box-products">
                        <div class="btn-acciones">
                            <div class="btn-dropdown" >
                                <button class="tooltip top dd-button" (click)="openOptionsMenu(indexProduct)" >
                                    <img src="assets/button-points.png" alt="opt">
                                </button>
                                <div class="options"  *ngIf="product.openMenu" >
                                    <div (click)="updateProduct(product)" >
                                        Editar
                                    </div>
                                    <div (click)="deleteProduct(product)">
                                        Eliminar
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="logo content-img">
                            <div class="box-logo">
                                <div class="img-dropdown">
                                    <img 
                                    [src]="product.altLogo" height="60px" width="80px" alt="pkm"
                                    (error)="onErrorImage(product)"
                                    >
                                    <div class="dropdown-content">
                                        <img 
                                            [src]="product.altLogo" height="200" width="300" alt="pkm"
                                            (error)="onErrorImage(product)"
                                            >
                                        <div class="desc">
                                            {{  product.name | titlecase }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <label class="title">
                                Nombre del producto:
                            </label>
                            {{  product.name | titlecase }}
                        </div>
                        <div class="info">
                            <label class="title">
                                Descripción:
                            </label>
                            {{  product.description | titlecase }}
                            
                        </div>
                        <div class="info">
                            <label class="title">
                                Fecha de liberación:
                            </label>
                            {{  product.date_release | date: 'dd/MM/yyyy' }}
                            
                        </div>
                        <div class="info">
                            <label class="title">
                                Fecha de reestructuración:
                            </label>
                            {{  product.date_revision | date: 'dd/MM/yyyy' }}
                            
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="footer-tb">
                <div>
                    {{ auxProducts.length }} Resultados
                </div>
                <div>
                    <label for="pagination">Página </label>
                    <select #selectPag name="pagination" class="pagination" id="pagination" (change)="changePage(selectPag.value)">
                        <option *ngFor="let pag of dataPagination">
                            {{ pag + 1 }}
                        </option>
                      </select>
                </div>
            </div>
        </div>
    </ng-container>


    <ng-container *ngIf="noData">
        <div class="no-data">
           <div>
                <img src="assets/not-data-found.png" alt="no-data">
           </div>
            <div>
                No hay productos disponibles por el momento.
            </div>
        </div>
    </ng-container>
    

</div>


