
div.content-alert{
    position: fixed;
    top: 20px;
    right: 35px;
    z-index: 2;
    div.alert{
            background-color: #0080004f;
            color: black;
            padding: 15px;
            padding-right: 25px;
            border-radius: 8px;
            border: 3px solid #0080004f;
        &.error{
            background-color: #dc35453b;
            border: 3px solid #dc3545;
        }
        .close{
            position: fixed;
            top: 24px;
            right: 45px;
            color: black;
            cursor: pointer;
        }
           
    }
}
